:root {
	--f7-theme-color: var(--f7-color-indigo);
	--f7-theme-color-rgb: var(--f7-color-indigo-rgb);
	--f7-theme-color-shade: var(--f7-color-indigo-shade);
	--f7-theme-color-tint: var(--f7-color-indigo-tint);
}

:root,
:root.theme-dark,
:root .theme-dark {
	--f7-bars-bg-color: var(--f7-theme-color);
	--f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
	--f7-bars-translucent-opacity: 0.9;
	--f7-bars-text-color: #fff;
	--f7-bars-link-color: #fff;
	--f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);
	--f7-bars-border-color: transparent;
	--f7-tabbar-link-active-color: #fff;
	--f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);
	--f7-sheet-border-color: transparent;
	--f7-tabbar-link-active-border-color: #fff;
}

.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
	--f7-touch-ripple-color: var(--f7-touch-ripple-white);
	--f7-link-highlight-color: var(--f7-link-highlight-white);
	--f7-button-text-color: #fff;
	--f7-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
}

.navbar-large-transparent {
	--f7-navbar-large-title-text-color: #000;

	--r: 63;
	--g: 81;
	--b: 181;
	--progress: var(--f7-navbar-large-collapse-progress);
	--f7-bars-link-color: rgb(calc(var(--r) + (255 - var(--r)) * var(--progress)),
			calc(var(--g) + (255 - var(--g)) * var(--progress)),
			calc(var(--b) + (255 - var(--b)) * var(--progress)));
}

.theme-dark .navbar-large-transparent {
	--f7-navbar-large-title-text-color: #fff;
}

.editor-container {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

.editor {
	height: 100%;
	width: 100%;
}

.output-page {
	overflow: hidden;
}

#output {
	background-color: #fff;
	border: none;
	height: 100%;
	margin: 0;
	width: 100%;
}

#quickCharacters .link {
	font-size: 24px;
}

:root.ios #quickCharacters .link {
	min-width: 40px !important;
	text-align: center;
}

:root.ios #searchPackageFiles {
	background: none;
}

.toast-button {
	color: var(--f7-color-amber) !important;
}

.theme-dark .dialog-button {
	color: var(--f7-color-amber) !important
}

/* Cores personalizadas */
/*====================
  Primary Theme
  ==================== */
.text-color-primary {
	--f7-theme-color-text-color: var(--f7-theme-color);
}

.bg-color-primary {
	--f7-theme-color-bg-color: var(--f7-theme-color);
}

.border-color-primary {
	--f7-theme-color-border-color: var(--f7-theme-color);
}

.ripple-color-primary {
	--f7-theme-color-ripple-color: rgba(var(--f7-theme-color-rgb), 0.3);
}

/*====================
  Colors List
  ==================== */
:root {
	--f7-color-red: #f44336;
	--f7-color-red-rgb: 244, 67, 54;
	--f7-color-red-shade: #f21f0f;
	--f7-color-red-tint: #f6675d;
	--f7-color-pink: #e91e63;
	--f7-color-pink-rgb: 233, 30, 99;
	--f7-color-pink-shade: #ca1452;
	--f7-color-pink-tint: #ed437d;
	--f7-color-purple: #9c27b0;
	--f7-color-purple-rgb: 156, 39, 176;
	--f7-color-purple-shade: #7e208f;
	--f7-color-purple-tint: #b92fd1;
	--f7-color-deepPurple: #673ab7;
	--f7-color-deepPurple-rgb: 103, 58, 183;
	--f7-color-deepPurple-shade: #563098;
	--f7-color-deepPurple-tint: #7c52c8;
	--f7-color-indigo: #3f51b5;
	--f7-color-indigo-rgb: 63, 81, 181;
	--f7-color-indigo-shade: #344397;
	--f7-color-indigo-tint: #5869c5;
	--f7-color-blue: #2196f3;
	--f7-color-blue-rgb: 33, 150, 243;
	--f7-color-blue-shade: #0c82df;
	--f7-color-blue-tint: #48a8f5;
	--f7-color-lightBlue: #03a9f4;
	--f7-color-lightBlue-rgb: 3, 169, 244;
	--f7-color-lightBlue-shade: #038dcc;
	--f7-color-lightBlue-tint: #23b9fc;
	--f7-color-cyan: #00bcd4;
	--f7-color-cyan-rgb: 0, 188, 212;
	--f7-color-cyan-shade: #0098ab;
	--f7-color-cyan-tint: #00e0fd;
	--f7-color-teal: #009688;
	--f7-color-teal-rgb: 0, 150, 136;
	--f7-color-teal-shade: #006d63;
	--f7-color-teal-tint: #00bfad;
	--f7-color-green: #4caf50;
	--f7-color-green-rgb: 76, 175, 80;
	--f7-color-green-shade: #409343;
	--f7-color-green-tint: #67bd6a;
	--f7-color-lightGreen: #8bc34a;
	--f7-color-lightGreen-rgb: 139, 195, 74;
	--f7-color-lightGreen-shade: #76ab39;
	--f7-color-lightGreen-tint: #9fcd69;
	--f7-color-lime: #cddc39;
	--f7-color-lime-rgb: 205, 220, 57;
	--f7-color-lime-shade: #b9c923;
	--f7-color-lime-tint: #d6e25c;
	--f7-color-yellow: #ffeb3b;
	--f7-color-yellow-rgb: 255, 235, 59;
	--f7-color-yellow-shade: #ffe712;
	--f7-color-yellow-tint: #ffef64;
	--f7-color-amber: #ffc107;
	--f7-color-amber-rgb: 255, 193, 7;
	--f7-color-amber-shade: #dda600;
	--f7-color-amber-tint: #ffcb30;
	--f7-color-orange: #ff9800;
	--f7-color-orange-rgb: 255, 152, 0;
	--f7-color-orange-shade: #d68000;
	--f7-color-orange-tint: #ffa829;
	--f7-color-deepOrange: #ff5722;
	--f7-color-deepOrange-rgb: 255, 87, 34;
	--f7-color-deepOrange-shade: #f83c00;
	--f7-color-deepOrange-tint: #ff764b;
	--f7-color-brown: #795548;
	--f7-color-brown-rgb: 121, 85, 72;
	--f7-color-brown-shade: #5f4339;
	--f7-color-brown-tint: #936757;
	--f7-color-grey: #9e9e9e;
	--f7-color-grey-rgb: 158, 158, 158;
	--f7-color-grey-shade: #8a8a8a;
	--f7-color-grey-tint: #b2b2b2;
	--f7-color-blueGrey: #607d8b;
	--f7-color-blueGrey-rgb: 96, 125, 139;
	--f7-color-blueGrey-shade: #4f6773;
	--f7-color-blueGrey-tint: #74919f;
}

/*====================
  Color Themes
  ==================== */
.color-theme-red {
	--f7-theme-color: #f44336;
	--f7-theme-color-rgb: 244, 67, 54;
	--f7-theme-color-shade: #f21f0f;
	--f7-theme-color-tint: #f6675d;
}

.color-theme-pink {
	--f7-theme-color: #e91e63;
	--f7-theme-color-rgb: 233, 30, 99;
	--f7-theme-color-shade: #ca1452;
	--f7-theme-color-tint: #ed437d;
}

.color-theme-purple {
	--f7-theme-color: #9c27b0;
	--f7-theme-color-rgb: 156, 39, 176;
	--f7-theme-color-shade: #7e208f;
	--f7-theme-color-tint: #b92fd1;
}

.color-theme-deepPurple {
	--f7-theme-color: #673ab7;
	--f7-theme-color-rgb: 103, 58, 183;
	--f7-theme-color-shade: #563098;
	--f7-theme-color-tint: #7c52c8;
}

.color-theme-indigo {
	--f7-theme-color: #3f51b5;
	--f7-theme-color-rgb: 63, 81, 181;
	--f7-theme-color-shade: #344397;
	--f7-theme-color-tint: #5869c5;
}

.color-theme-blue {
	--f7-theme-color: #2196f3;
	--f7-theme-color-rgb: 33, 150, 243;
	--f7-theme-color-shade: #0c82df;
	--f7-theme-color-tint: #48a8f5;
}

.color-theme-lightBlue {
	--f7-theme-color: #03a9f4;
	--f7-theme-color-rgb: 3, 169, 244;
	--f7-theme-color-shade: #038dcc;
	--f7-theme-color-tint: #23b9fc;
}

.color-theme-cyan {
	--f7-theme-color: #00bcd4;
	--f7-theme-color-rgb: 0, 188, 212;
	--f7-theme-color-shade: #0098ab;
	--f7-theme-color-tint: #00e0fd;
}

.color-theme-teal {
	--f7-theme-color: #009688;
	--f7-theme-color-rgb: 0, 150, 136;
	--f7-theme-color-shade: #006d63;
	--f7-theme-color-tint: #00bfad;
}

.color-theme-green {
	--f7-theme-color: #4caf50;
	--f7-theme-color-rgb: 76, 175, 80;
	--f7-theme-color-shade: #409343;
	--f7-theme-color-tint: #67bd6a;
}

.color-theme-lightGreen {
	--f7-theme-color: #8bc34a;
	--f7-theme-color-rgb: 139, 195, 74;
	--f7-theme-color-shade: #76ab39;
	--f7-theme-color-tint: #9fcd69;
}

.color-theme-lime {
	--f7-theme-color: #cddc39;
	--f7-theme-color-rgb: 205, 220, 57;
	--f7-theme-color-shade: #b9c923;
	--f7-theme-color-tint: #d6e25c;
}

.color-theme-yellow {
	--f7-theme-color: #ffeb3b;
	--f7-theme-color-rgb: 255, 235, 59;
	--f7-theme-color-shade: #ffe712;
	--f7-theme-color-tint: #ffef64;
}

.color-theme-amber {
	--f7-theme-color: #ffc107;
	--f7-theme-color-rgb: 255, 193, 7;
	--f7-theme-color-shade: #dda600;
	--f7-theme-color-tint: #ffcb30;
}

.color-theme-orange {
	--f7-theme-color: #ff9800;
	--f7-theme-color-rgb: 255, 152, 0;
	--f7-theme-color-shade: #d68000;
	--f7-theme-color-tint: #ffa829;
}

.color-theme-deepOrange {
	--f7-theme-color: #ff5722;
	--f7-theme-color-rgb: 255, 87, 34;
	--f7-theme-color-shade: #f83c00;
	--f7-theme-color-tint: #ff764b;
}

.color-theme-brown {
	--f7-theme-color: #795548;
	--f7-theme-color-rgb: 121, 85, 72;
	--f7-theme-color-shade: #5f4339;
	--f7-theme-color-tint: #936757;
}

.color-theme-grey {
	--f7-theme-color: #9e9e9e;
	--f7-theme-color-rgb: 158, 158, 158;
	--f7-theme-color-shade: #8a8a8a;
	--f7-theme-color-tint: #b2b2b2;
}

.color-theme-blueGrey {
	--f7-theme-color: #607d8b;
	--f7-theme-color-rgb: 96, 125, 139;
	--f7-theme-color-shade: #4f6773;
	--f7-theme-color-tint: #74919f;
}

/*====================
  Color Overrides
  ==================== */
.color-red {
	--f7-theme-color: #f44336;
	--f7-theme-color-rgb: 244, 67, 54;
	--f7-theme-color-shade: #f21f0f;
	--f7-theme-color-tint: #f6675d;
}

.text-color-red {
	--f7-theme-color-text-color: #f44336;
}

.bg-color-red {
	--f7-theme-color-bg-color: #f44336;
}

.border-color-red {
	--f7-theme-color-border-color: #f44336;
}

.ripple-color-red,
.ripple-red {
	--f7-theme-color-ripple-color: rgba(244, 67, 54, 0.3);
}

.color-pink {
	--f7-theme-color: #e91e63;
	--f7-theme-color-rgb: 233, 30, 99;
	--f7-theme-color-shade: #ca1452;
	--f7-theme-color-tint: #ed437d;
}

.text-color-pink {
	--f7-theme-color-text-color: #e91e63;
}

.bg-color-pink {
	--f7-theme-color-bg-color: #e91e63;
}

.border-color-pink {
	--f7-theme-color-border-color: #e91e63;
}

.ripple-color-pink,
.ripple-pink {
	--f7-theme-color-ripple-color: rgba(233, 30, 99, 0.3);
}

.color-purple {
	--f7-theme-color: #9c27b0;
	--f7-theme-color-rgb: 156, 39, 176;
	--f7-theme-color-shade: #7e208f;
	--f7-theme-color-tint: #b92fd1;
}

.text-color-purple {
	--f7-theme-color-text-color: #9c27b0;
}

.bg-color-purple {
	--f7-theme-color-bg-color: #9c27b0;
}

.border-color-purple {
	--f7-theme-color-border-color: #9c27b0;
}

.ripple-color-purple,
.ripple-purple {
	--f7-theme-color-ripple-color: rgba(156, 39, 176, 0.3);
}

.color-deepPurple {
	--f7-theme-color: #673ab7;
	--f7-theme-color-rgb: 103, 58, 183;
	--f7-theme-color-shade: #563098;
	--f7-theme-color-tint: #7c52c8;
}

.text-color-deepPurple {
	--f7-theme-color-text-color: #673ab7;
}

.bg-color-deepPurple {
	--f7-theme-color-bg-color: #673ab7;
}

.border-color-deepPurple {
	--f7-theme-color-border-color: #673ab7;
}

.ripple-color-deepPurple,
.ripple-deepPurple {
	--f7-theme-color-ripple-color: rgba(103, 58, 183, 0.3);
}

.color-indigo {
	--f7-theme-color: #3f51b5;
	--f7-theme-color-rgb: 63, 81, 181;
	--f7-theme-color-shade: #344397;
	--f7-theme-color-tint: #5869c5;
}

.text-color-indigo {
	--f7-theme-color-text-color: #3f51b5;
}

.bg-color-indigo {
	--f7-theme-color-bg-color: #3f51b5;
}

.border-color-indigo {
	--f7-theme-color-border-color: #3f51b5;
}

.ripple-color-indigo,
.ripple-indigo {
	--f7-theme-color-ripple-color: rgba(63, 81, 181, 0.3);
}

.color-blue {
	--f7-theme-color: #2196f3;
	--f7-theme-color-rgb: 33, 150, 243;
	--f7-theme-color-shade: #0c82df;
	--f7-theme-color-tint: #48a8f5;
}

.text-color-blue {
	--f7-theme-color-text-color: #2196f3;
}

.bg-color-blue {
	--f7-theme-color-bg-color: #2196f3;
}

.border-color-blue {
	--f7-theme-color-border-color: #2196f3;
}

.ripple-color-blue,
.ripple-blue {
	--f7-theme-color-ripple-color: rgba(33, 150, 243, 0.3);
}

.color-lightBlue {
	--f7-theme-color: #03a9f4;
	--f7-theme-color-rgb: 3, 169, 244;
	--f7-theme-color-shade: #038dcc;
	--f7-theme-color-tint: #23b9fc;
}

.text-color-lightBlue {
	--f7-theme-color-text-color: #03a9f4;
}

.bg-color-lightBlue {
	--f7-theme-color-bg-color: #03a9f4;
}

.border-color-lightBlue {
	--f7-theme-color-border-color: #03a9f4;
}

.ripple-color-lightBlue,
.ripple-lightBlue {
	--f7-theme-color-ripple-color: rgba(3, 169, 244, 0.3);
}

.color-cyan {
	--f7-theme-color: #00bcd4;
	--f7-theme-color-rgb: 0, 188, 212;
	--f7-theme-color-shade: #0098ab;
	--f7-theme-color-tint: #00e0fd;
}

.text-color-cyan {
	--f7-theme-color-text-color: #00bcd4;
}

.bg-color-cyan {
	--f7-theme-color-bg-color: #00bcd4;
}

.border-color-cyan {
	--f7-theme-color-border-color: #00bcd4;
}

.ripple-color-cyan,
.ripple-cyan {
	--f7-theme-color-ripple-color: rgba(0, 188, 212, 0.3);
}

.color-teal {
	--f7-theme-color: #009688;
	--f7-theme-color-rgb: 0, 150, 136;
	--f7-theme-color-shade: #006d63;
	--f7-theme-color-tint: #00bfad;
}

.text-color-teal {
	--f7-theme-color-text-color: #009688;
}

.bg-color-teal {
	--f7-theme-color-bg-color: #009688;
}

.border-color-teal {
	--f7-theme-color-border-color: #009688;
}

.ripple-color-teal,
.ripple-teal {
	--f7-theme-color-ripple-color: rgba(0, 150, 136, 0.3);
}

.color-green {
	--f7-theme-color: #4caf50;
	--f7-theme-color-rgb: 76, 175, 80;
	--f7-theme-color-shade: #409343;
	--f7-theme-color-tint: #67bd6a;
}

.text-color-green {
	--f7-theme-color-text-color: #4caf50;
}

.bg-color-green {
	--f7-theme-color-bg-color: #4caf50;
}

.border-color-green {
	--f7-theme-color-border-color: #4caf50;
}

.ripple-color-green,
.ripple-green {
	--f7-theme-color-ripple-color: rgba(76, 175, 80, 0.3);
}

.color-lightGreen {
	--f7-theme-color: #8bc34a;
	--f7-theme-color-rgb: 139, 195, 74;
	--f7-theme-color-shade: #76ab39;
	--f7-theme-color-tint: #9fcd69;
}

.text-color-lightGreen {
	--f7-theme-color-text-color: #8bc34a;
}

.bg-color-lightGreen {
	--f7-theme-color-bg-color: #8bc34a;
}

.border-color-lightGreen {
	--f7-theme-color-border-color: #8bc34a;
}

.ripple-color-lightGreen,
.ripple-lightGreen {
	--f7-theme-color-ripple-color: rgba(139, 195, 74, 0.3);
}

.color-lime {
	--f7-theme-color: #cddc39;
	--f7-theme-color-rgb: 205, 220, 57;
	--f7-theme-color-shade: #b9c923;
	--f7-theme-color-tint: #d6e25c;
}

.text-color-lime {
	--f7-theme-color-text-color: #cddc39;
}

.bg-color-lime {
	--f7-theme-color-bg-color: #cddc39;
}

.border-color-lime {
	--f7-theme-color-border-color: #cddc39;
}

.ripple-color-lime,
.ripple-lime {
	--f7-theme-color-ripple-color: rgba(205, 220, 57, 0.3);
}

.color-yellow {
	--f7-theme-color: #ffeb3b;
	--f7-theme-color-rgb: 255, 235, 59;
	--f7-theme-color-shade: #ffe712;
	--f7-theme-color-tint: #ffef64;
}

.text-color-yellow {
	--f7-theme-color-text-color: #ffeb3b;
}

.bg-color-yellow {
	--f7-theme-color-bg-color: #ffeb3b;
}

.border-color-yellow {
	--f7-theme-color-border-color: #ffeb3b;
}

.ripple-color-yellow,
.ripple-yellow {
	--f7-theme-color-ripple-color: rgba(255, 235, 59, 0.3);
}

.color-amber {
	--f7-theme-color: #ffc107;
	--f7-theme-color-rgb: 255, 193, 7;
	--f7-theme-color-shade: #dda600;
	--f7-theme-color-tint: #ffcb30;
}

.text-color-amber {
	--f7-theme-color-text-color: #ffc107;
}

.bg-color-amber {
	--f7-theme-color-bg-color: #ffc107;
}

.border-color-amber {
	--f7-theme-color-border-color: #ffc107;
}

.ripple-color-amber,
.ripple-amber {
	--f7-theme-color-ripple-color: rgba(255, 193, 7, 0.3);
}

.color-orange {
	--f7-theme-color: #ff9800;
	--f7-theme-color-rgb: 255, 152, 0;
	--f7-theme-color-shade: #d68000;
	--f7-theme-color-tint: #ffa829;
}

.text-color-orange {
	--f7-theme-color-text-color: #ff9800;
}

.bg-color-orange {
	--f7-theme-color-bg-color: #ff9800;
}

.border-color-orange {
	--f7-theme-color-border-color: #ff9800;
}

.ripple-color-orange,
.ripple-orange {
	--f7-theme-color-ripple-color: rgba(255, 152, 0, 0.3);
}

.color-deepOrange {
	--f7-theme-color: #ff5722;
	--f7-theme-color-rgb: 255, 87, 34;
	--f7-theme-color-shade: #f83c00;
	--f7-theme-color-tint: #ff764b;
}

.text-color-deepOrange {
	--f7-theme-color-text-color: #ff5722;
}

.bg-color-deepOrange {
	--f7-theme-color-bg-color: #ff5722;
}

.border-color-deepOrange {
	--f7-theme-color-border-color: #ff5722;
}

.ripple-color-deepOrange,
.ripple-deepOrange {
	--f7-theme-color-ripple-color: rgba(255, 87, 34, 0.3);
}

.color-brown {
	--f7-theme-color: #795548;
	--f7-theme-color-rgb: 121, 85, 72;
	--f7-theme-color-shade: #5f4339;
	--f7-theme-color-tint: #936757;
}

.text-color-brown {
	--f7-theme-color-text-color: #795548;
}

.bg-color-brown {
	--f7-theme-color-bg-color: #795548;
}

.border-color-brown {
	--f7-theme-color-border-color: #795548;
}

.ripple-color-brown,
.ripple-brown {
	--f7-theme-color-ripple-color: rgba(121, 85, 72, 0.3);
}

.color-grey {
	--f7-theme-color: #9e9e9e;
	--f7-theme-color-rgb: 158, 158, 158;
	--f7-theme-color-shade: #8a8a8a;
	--f7-theme-color-tint: #b2b2b2;
}

.text-color-grey {
	--f7-theme-color-text-color: #9e9e9e;
}

.bg-color-grey {
	--f7-theme-color-bg-color: #9e9e9e;
}

.border-color-grey {
	--f7-theme-color-border-color: #9e9e9e;
}

.ripple-color-grey,
.ripple-grey {
	--f7-theme-color-ripple-color: rgba(158, 158, 158, 0.3);
}

.color-blueGrey {
	--f7-theme-color: #607d8b;
	--f7-theme-color-rgb: 96, 125, 139;
	--f7-theme-color-shade: #4f6773;
	--f7-theme-color-tint: #74919f;
}

.text-color-blueGrey {
	--f7-theme-color-text-color: #607d8b;
}

.bg-color-blueGrey {
	--f7-theme-color-bg-color: #607d8b;
}

.border-color-blueGrey {
	--f7-theme-color-border-color: #607d8b;
}

.ripple-color-blueGrey,
.ripple-blueGrey {
	--f7-theme-color-ripple-color: rgba(96, 125, 139, 0.3);
}